<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#myNavbar"
            >

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Live-Posts</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
               <li><a routerLink="post-list">Posts</a></li>
                <li  *ngIf="isLoggedIn" >
                    <a routerLink="post-add">Add Post</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li  *ngIf="!isLoggedIn" ><a routerLink="auth">Login</a></li>
                <li *ngIf="isLoggedIn" (click)="onLogOut()"><a>Logout</a></li>
                <li  *ngIf="isLoggedIn" ><a (click)="onSaveData()">Save Data</a></li>
                <li><a (click)="onFetchData()">Fetch data</a></li>
            </ul>
        </div>
    </div>