<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <h3>Authentication</h3>
        <form [formGroup]='authForm'>
            <div class="from-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input
                type="password"
                placeholder="Minimum length is 6 Characters"
                class="form-control"
                formControlName="password"
                >
            </div>
            <p *ngIf="error" style="color: red;">
                {{ error }}
            </p>
            <br>
            <button
            type="submit"
            class="btn btn-success"
            (click)="onLogin()"
            [disabled]="!authForm.valid"
            >Login
        </button> |
        <button 
        type="submit"
        class="btn btn-primary"
        (click)="onSignUp()"
        [disabled]="!authForm.valid"
        >
        SignUp
    </button>


        </form>
    </div> 

</div>